## Need only the following vegan
importFrom(vegan, scores, ordiArrowMul)
## we may need everything
import(rgl)
## scatterplot3d only has one function
import(scatterplot3d)
## explicit imports for base R functions
  importFrom("grDevices", "rainbow")
  importFrom("graphics", "arrows", "points")
  importFrom("stats", "weighted.mean", "weights")

## export what we got
export(ordiplot3d,
       ordirgl,
       orglpoints,
       orglsegments,
       orgltext,
       rgl.isomap,
       rgl.renyiaccum)

