## Need only the following vegan
importFrom(vegan, scores, ordiArrowMul)
## we may need everything
import(rgl)
## scatterplot3d only has one function
import(scatterplot3d)
## explicit imports for base R functions
importFrom(grDevices, rainbow, col2rgb, rgb)
importFrom(graphics, arrows, points, segments, text)
importFrom(stats, weighted.mean, weights, as.hclust, reorder, cov.wt, qchisq)

## export what we got
export(orditree3d,
       ordiplot3d,
       ordirgl,
       ordirgltree,
       orglellipse,
       orglpoints,
       orglsegments,
       orglspider,
       orgltext,
       rgl.isomap,
       rgl.renyiaccum)

